


*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}


body{
    height: 100%;
    width: 100%;
}

.img{
    height: 50px;
    width:150px;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 2vw 3vw;
    /* margin-left: -13%;
    margin-right: -5%; */
    width: 100%;
    font-family: serif;
    border-bottom: 2px solid #dadada;
    
}

#box{
    height: 20px;
    width: 100px;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 0;
    
}

.content{
    display: flex;
    justify-content: space-between;
    /* width: 50px; */
    gap: 20px;
    font-size: 1.5vw;
    padding: 10px;
    text-decoration: none;
    margin-left: -5%;
    margin-top: 0;
    font-weight: 700;

}
a{
    color: black;
    text-decoration: none;
}
#login{
    font-size: 1.5vw;
    margin-top: 10px;
    font-weight: 700;
}

.box1{
    display: flex;
    gap: 1vw;
    

}
a:hover{
    text-decoration: underline;
    
}
.section9{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
}
.big{
 font-size: 50px;
 font-weight: 800;
}
.butn{
 background-color: orange;
 width: 140px;
 padding: 10px;
 border-radius: 5px;
 color: white;
}
.section1{
    padding: 100px;
    
}
#image1{
    padding: 50px;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 20px;
}
.figures .content1{
    margin-top: 0vw;
}
.content1{
    /* display: grid;
    grid-template-columns: 1fr auto; */
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 3.3%;
}
.content2{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}
.content3{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}
.head{
    font-size: 30px;
}
 i{
    font-size: 30px;
} 
 #logo1{
    background-color: orange;
    font-size: 30px;
    width: 40px;
    padding: 10px;
    border-radius: 30%;
}
#logo2{
    background-color: lightgreen;
    font-size: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 30%;
}
#logo3{
    background-color: orange;
    font-size: 30px;
    width: 40px;
    padding: 10px;
    border-radius: 30%;
}
.conversation{
    /* display: grid;
    grid-template-columns: 2fr 2fr; */
    display: flex;
}
.content4{
    padding: 10%;
    font-size: 25px;
}
p{
    font-size: 15px;
}
.obox{
    background-color: orange;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0px;
}
.square{
    display: flex;
    gap: 5vw;
    padding: 20px;
    height: fit-content;
    
}
.no1{
    margin-top: 0;
}

.contt{
    position: relative;
    top: 30vw;
    display: flex;
    left: 13vw;
}
.cont{
    background-color: white;
    height: fit-content;
    position: relative;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    top: 50px;
    bottom: 20px;
}
.top{
    text-align: center;
}
.heading{
    position: relative;
    top: 30px;
}
.contt{
   /* display: flex;
   gap: 10px; */
   position: relative;
top: 0;    
}
.desc{
    padding: 10px;
}
.oobox{
    display: flex;
    gap: 400px;
    margin-top: 40px;
}
.ftext{
    
    font-size: 40px;
    font-weight: 300;
}
.content99 i{
    padding: 0.4vw;
    gap: 3vh;
}
.last{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    padding-right: 30px;
}
.button12{
    background-color: orange;
    padding: 10px;
    position: relative;
    width: fit-content;
    margin-left: 45%;
    color: white;
    border-radius: 10px;
}
.footer1{
    margin-top: 10%;
    position: relative;
    text-align: center;
}

@media (max-width:600px) {
    .content{
        display: none;
    }
    header{
        padding: 2vw;
    }
    .box1{
        padding: 0.3vw;
    }
    #login{
        font-size: 3vw;
    }
    .big{
        font-size: 3vw;
    }
    .section9{
        flex-direction: column;
      

    }
    .butn{
        width: 25vw;
        padding: 0.5vw 2vw;
    }
  .section1{
    position: relative;
     margin-left: 36vw;
      width: 30vw;
    padding: 4vw 4vw;
    top: 10vw;
   }
   #image1 img{
    width: 50vw;
    position: relative;
    left: 20vw;
   }
   .figures{
    flex-direction: column;
    gap: 7vw;
   }
   .features{
    width: 70vw;
    position: relative;
    left: 20vw;
   }
   .head{
    width: 50vw;
    text-align: center;
    font-size: 4vw;
   }
   .content1 h1{
       font-size: 3vw;   
   }
   .content2 h1{
    font-size: 3vw;   
}
.content3 h1{
    font-size: 3vw;   
}
.conversation{
    flex-direction: column;
}
.content4{
    position: relative;
    width: 50vh;
    left: 16vh;
}
.content4 h1{
    font-size: 3vw;
}
.pic img{
    width: 50vh ;
    position: relative;
    left: 25vh;
}
.square{
    flex-direction: column;
}
.cont{
    width: 50vh;
}
.obox{
    height: fit-content;
}
.heading{
    font-size: 3vw;
    color: white;
}
.top{
    font-size: 3vw;
}
.oobox{
    flex-direction: column;
}
.ftext{
    font-size: 4vw;
}
.button12{
    position: relative;
    left: -6vw;
}
.content99 i{
    font-size: 3vw;
    padding: 2.5vw;
    text-shadow: 3px 3px 3px orange;
}
}
